/* SYNC: Keep class names in sync with ProbeResult.to_str() */

td.match {
    color:            black;
    background-color: lime;
}

td.no-match {
    color:            black;
    background-color: yellow;
}

td.http-error, td.connection-error {
    color:            white;
    background-color: red;
}

td.not-probed-yet {
    color:            white;
    background-color: gray;
}
